/* 
###
# Typeface
###
*/

@font-face {
  font-family: Ubuntu-Regular;
  src: url(assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu-Italic;
  src: url(assets/fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url(assets/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* 
###
# Main Page
###
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #161a1f;
  color: #f2f2f2;
  font-family: Ubuntu-Regular;
}

a {
  color: #c4c5c7;
}

a:hover {
  color: #ed4a3e;
}

/* 
###
# Light/Dark Toggle
###
*/

.theme__switch {
  background: linear-gradient(120deg, #e3e3e3 0%, #ebedee 100%);
  background-color: #c4c5c7;
  color: #161a1f;
}

.theme__switch a {
  color: #161a1f;
}

.theme__switch a:hover {
  color: #ed4a3e;
}

.theme__toggle {
  position: absolute;
  right: 0;
  padding-right: 5px;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background: rgb(22, 26, 31);
  background: linear-gradient(
    135deg,
    rgba(22, 26, 31, 1) 0%,
    rgba(41, 47, 114, 1) 21%,
    rgba(90, 107, 158, 1) 58%
  );

  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "🌞 __🌙";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #888585;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background: rgb(22, 26, 31);
  background: linear-gradient(
    135deg,
    rgba(22, 26, 31, 1) 0%,
    rgba(41, 114, 55, 1) 21%,
    rgba(90, 158, 91, 1) 58%
  );
}

.toggle:checked:before {
  left: 32px;
}

/* 
###
# Page Content
###
*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

.wrapper > * {
  padding: 20px;
}

.header {
  display: flex;
  padding: 1px;
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  margin-top: auto;
  justify-content: space-around;
}
